@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #EAF8FF;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker__day-name,
.react-datepicker__day,
.react-datepicker__time-name {
  color: #fff;
}

.react-datepicker {
  background-color: #2d2d2d;
}

.react-datepicker__header {
  background-color: #1a1a1a;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  background-color: #f00;
}

.react-datepicker__close-icon::after {
  background-color: #fff;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;

}

.ReactModal__Content {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  height: 30vh; 
  width: 30vw;
  overflow-y: auto;
  background: #fff;
}

/* For tablets */
@media (max-width: 768px) {
  .ReactModal__Content {
    height: 50vh; /* adjust height for tablets */
  }
}

/* For mobile phones */
@media (max-width: 480px) {
  .ReactModal__Content {
    height: 70vh; /* adjust height for mobile phones */
  }
}